.chooseFileDiv{
    padding:10px;
    background-color: #757575;
    border: none;
    border-radius: 5px;
    color: white;
}

.chooseFileDiv:hover{
    background-color: #1b6d85;
}

.submitInput{
    padding:6px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
}
