.chooseFileDiv{
    padding:10px;
    /*background-color: #757575;*/
    background-color: #337ab7;
    border: none;
    border-radius: 5px;
    color: white;
}

.chooseDiv:hover{
    /*background-color: #484b51;*/
    background-color: #2b669a;
    color: white;
}

.submitInput{
    padding:6px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
}

